div {
    background-color: red;
    width: 50px;
    height: 45px;
    display: inline;
}
p {
    background-color: aqua;
    width: 70px;
    height: 25px;
    display: inline-block;
}
a {
    background: yellow;
    width: 45px;
    height: 25px;
    display: block;
}