h1, 
p,
div {
    background-color: rgb(180, 180, 123);
    padding: 10px 5px 15px 3px;
}

em,
strong,
span {
    background-color: rgb(139, 129, 148);
}

h1 {
    padding: 50px;
    margin: 50px;
    border: 5px solid black;
}